body{
    background-color: #28456D;
    display: flex;
    justify-content: center;
    background-image: url(images/fondoLogin.png)
}

div{
    background-color: white;
    border: solid 1px;
    border-color: black;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    border-radius: 5%;
}

#formulario {
    margin-top: 50px;
    text-align: center;
}

#iniSes{
    margin-top: 20px;
    font-size: 40px;
    font-family: Verdana;
    margin-top: 50px;
    text-align: center;
}

#panelG{
    margin-top: 50px;
    text-align: center;
}

#user {
    width: 250px;
}
